SIGNING_KEY=

# Possible values: local, staging, production, ci, testing, other
ENVIRONMENT=local

# The base URI that's used for all generated URIs
BASE_URI=http://localhost:8000

# Setting to `false` force-disable internal caches.
INTERNAL_CACHES=true

# Enable or disable discovery cache. Can be `true`, `partial` or `false`.
DISCOVERY_CACHE=partial

# Overwrite default log paths (null = default)
DEBUG_LOG_PATH=null
SERVER_LOG_PATH=null

# Also used as session cookie name
APPLICATION_NAME=Luna

# Main app title
APP_TITLE=Luna

# Database (PostgreSQL)
#DATABASE_HOST=
#DATABASE_PORT=
#DATABASE_USERNAME=
#DATABASE_PASSWORD=
#DATABASE_DATABASE=

# SMTP for emails. Defaults to Mailpit.
MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
#MAIL_SMTP_USERNAME=
#MAIL_SMTP_PASSWORD=
MAIL_SENDER_NAME=Luna
MAIL_SENDER_EMAIL=noreply@luna.test